.Login{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincont{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.logincont h2{
    text-align: center;
    font-size: 20px;
    font-weight: 10;
    letter-spacing: 0.02px;
    color: #36A546CC;
    opacity: 1;
}
.logincont input{
    background: #1F191966 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    mix-blend-mode: normal;
    opacity: 1;
    text-align: center;
    padding: 15px 40px;
    width: 60%;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
}
.logincont .Linkbtn{
    width: 85%;
}
.logincont button{
    background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 2px solid #8CFF0026;
    opacity: 1;
    margin-top: 20px;
    color: #ffffff;
    padding: 15px 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.logincont p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
}

@media screen and (max-width:450px){
 .logincont{
    width: 80%;
 }   
}